.stApp {
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: white;
}

.block-container {
    max-width: 100%;
    padding: 2rem;
}

[data-testid="stSidebar"] {
    background: #020617;
}

/* Button */
.stButton > button {
    border-radius: 10px;
    background: #2563eb;
    color: white;
}

/* Input */
.stTextInput input {
    border-radius: 10px;
}

/* Selectbox */
.stSelectbox div {
    border-radius: 10px;
}